.fheader {
    position: relative;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #ededed;
    padding: 0 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
  }

.fheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fheader .img-text .user-img .dp {
    position:relative;
    top: -2px;
    left: 0px;
    width: 40px;
    height:auto;
    overflow:hidden;
    object-fit: cover;
  }
  
   .fheader .img-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .fheader .img-text h4 {
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
  }
  
  .fheader .img-text h4 span {
    font-size: 0.8em;
    color: #555;
  }

.react-icons{
  margin-left: 10px;
  height: 25px;
  width: 20px;
}