.friendprofile{
    position: absolute;
    background-color: var(--second-color);
    width: 45%;
    height: 100%;
    color: white;
    top: 0;
    right: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.friendprofile .profile {
    width: 100%;
    height: 10%;
    background-color: var(--main-color);
    display: flex;
    font-size: 27px;
    padding: 20px 20px ;
}

.profile_pic{
    background-color: var(--main-color);
    margin-top: 26px;
    width: 50%;
    height: 30%;
    margin-left: 25%;
    border-radius: 50%;
}

.friend_name{
    text-align: center;
    margin-top: 10px;
}

.friend_about{
    width: 100%;
    height: 15%;
    background-color: white;
    border-bottom: 1px solid gray;
    font-size: 18px;
    padding: 10px 20px;
    color: black;
    background-color: var(--second-color);
    margin-top: 40px;
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
}

.pen{
    float: right;
    cursor: pointer;
}

.friendprofile .friend_name p{
    margin-top: 3px ;
    font-size: 13px;
    color: #393939;
}

.friendprofile .friend_about p{
    margin-top: 7px ;
    font-size: 15px;
    color: #393939;
}

.friendprofile .friend_name h3{
    color: black;
    font-size: 22px;
}

.cross1{
    margin-right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}