.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  background-color: var(--main-color);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
}

.login_form {
  background-color: #fff;
  border-radius: 5px;
  width: 55%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  padding-top: 20px;
}

.login_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.login_form .loing_text_field {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 15px 0;
  padding-left: 5px;
  padding-right: 10px;
  width: 90%;
  /* background-color: #fff; */
  border-bottom: 2px solid rgb(165, 165, 165);
}

.loing_text_field input {
  width: 100%;
  padding: 0 6px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
}

.loing_text_field .error_message {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: .5s;
}

.loing_text_field .success_line {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition: .5s;
  transition-delay: 0.6s;
}

.loing_text_field input:focus~.success_line {
  width: 100%;
}

.loing_text_field input[isvalid='true']~.success_line {
  width: 100%;
}

.loing_text_field input[isvalid='false']~.success_line {
  width: 0;
}

.loing_text_field input[isvalid='true']~.error_message {
  width: 0;
}

.loing_text_field input[isvalid='false']~.error_message {
  width: 100%;
}

.loing_text_field .error_message::after {
  content: attr(error-message);
  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  height: 20px;
  z-index: 99;
  overflow: hidden;
  color: red;
  transition: .5s;
}

.loing_text_field input[isvalid='false']~.error_message::after {
  display: flex;
}

.loing_text_field .icons {
  font-size: 20px;
  color: #5c5c5c;
  margin: 5px;
}

.login_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 5px;
}

.login_options .show_psswrd {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 16px;
}

.login_options .show_psswrd input {
  width: 15px;
  height: 15px;
  cursor: pointer;
  accent-color: var(--third-color);
}

.login_options .show_psswrd label {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
  cursor: pointer;
}

.login_options .frgt_psswrd {
  color: #5c5c5c;
  margin: 10px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
  cursor: pointer;
}

.login_options .frgt_psswrd p:hover {
  text-decoration: underline;
}

.login_btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
}

.keep_logged_in {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}


.keep_logged_in input {
  width: 15px;
  height: 15px;
  cursor: pointer;
  accent-color: var(--third-color);
}

.keep_logged_in label {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
  cursor: pointer;
}

.login_button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  outline: none;
  border-radius: 10px;
  color: #fff;
  background-color: var(--third-color);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.login_button:hover {
  background-color: #fff;
  color: var(--main-color);
}

.login_form .or {
  color: #5c5c5c;
  font-size: 20px;
  margin: 5px;
}

.google_button,
.github_button {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50px;
  margin: 5px;
  padding: 5px;
  outline: none;
  border: 1px solid;
  border-radius: 10px;
  color: var(--third-color);
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.google_button:hover,
.github_button:hover {
  background-color: var(--third-color);
  color: #fff;
}

.google_icon,
.github_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.signup_link {
  margin: 20px 0;
  color: #4a4a4a;
  text-align: center;
  font-size: 20px;
  user-select: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup_link a {
  color: var(--third-color);
  text-decoration: none;
  margin: 0 5px;
}

.signup_link a:hover {
  text-decoration: underline;
}

.login_logo_container {
  width: 45%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login_logo_container .logo_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.login_logo_container .logo {
  margin: 10px;
  font-size: 160px;
  color: #570082;
}

.login_logo_container #login_page_title {
  margin: 10px 0;
  color: #fff;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login_logo_container #login_page_sub_title {
  margin: 10px 0;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pass_info {
  position: absolute;
  top: 60%;
  left: 100%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--third-color);
  cursor: pointer;
}

.pass_info p {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  min-width: 150px;
  padding: 5px;
  font-size: 14px;
  color: var(--third-color);
  background-color: #fff;
  border: 1px solid var(--third-color);
  border-radius: 5px;
}

.pass_info:hover p {
  display: flex;
  user-select: none;
  cursor: default;
}

.loing_text_field input[isvalid='false']~.pass_info {
  animation: horizontal-shake 0.5s;
}