.main-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #c5aee3;
  }

.main-container .left_side_container{
  position: relative;
  background-color: #fff;
  height: 100%;
  width: 30%;
  flex: 30%;
  border-right: 1px solid #bebdb8;
}

.main-container .right_side_container{
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  flex: 70%;
background: #c5aee3;
background: -webkit-linear-gradient(to right, #c5aee3, #734f99); 
background: linear-gradient(to right, #c5aee3, #734f99); 
}

.main-container .right_side_container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(https://camo.githubusercontent.com/854a93c27d64274c4f8f5a0b6ec36ee1d053cfcd934eac6c63bed9eaef9764bd/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67);
  opacity: 0.15;
}
