* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c5aee3;
  user-select: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

:root {
  --main-color: #813eb6;
  --second-color: #eee9f2;
  --third-color: #734f99;
}