.container{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 800px;
    background-color: var(--main-color);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 5px;
  }

.form{
  position: absolute;
    width: 55%;
    height: 500px; 
    background-color: var(--second-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form .text_field{
    position: relative;
    border-bottom: 2px solid rgb(165, 165, 165);
    margin: 11px 0;
    left: 100px;
    top: 70px;
    width: 60%;
}
.text_field input{
    width: 100%;
    padding: 0 6px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text_field span::before{
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition: .5s;
}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;
}

button[type="submit"]{
  width: 60%;
    margin-top: 15px;
    margin-left: 100px;
    height: 50px;
    border: 1px solid;
    background-color: var(--third-color) ;
    box-shadow: 0 2px 3px 0 black;
    border-radius: 10px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover{
  border-color: #4a4a4a;
  background-color: var(--main-color);
  transition: .5s;
}

.form .icons{
  position: fixed;
  color: #4a4a4a;
  margin-left: 247px;
  margin-top: 10px;
}
 .google_button .btn_google{
  width: 60%;
  margin-top: 20px;
  margin-left: 100px;
  height: 50px;
  border: 1px solid;
  background-color: var(--third-color) ;
  box-shadow: 0 2px 3px 0 black;
  border-radius: 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding-top: 15px;
}

.google_button .btn_google:hover{
border-color: #4a4a4a;
transition: .5s all ease;
}

.register_link{
  margin: 20px 0;
  text-align: center;
  color: #4a4a4a;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.register_link a{
  color: #570082;
  text-decoration: none;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.register_link a:hover{
  text-decoration: underline;
}

.google{
   font-weight: 700;
  margin-right: 100px;
  font-size: 18px;
  width: 20px;
  height: 18px;
  position:relative;
  margin-left: 30px;
  bottom: 60%;
  background-color: white;
  border-radius: 50%;
}

.otp_btn{
  width: 60%;
  margin-top: 10px;
  margin-left: 100px;
  height: 50px;
  border: 1px solid;
  background-color: var(--third-color) ;
  box-shadow: 0 2px 3px 0 black;
  border-radius: 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.otp_btn:hover{
border-color: #4a4a4a;
transition: .5s all ease;
}


.chat_icon{
  margin-top: 90px;
  font-size: 160px;
  margin-left: 550px;
  color: #570082;
}

h2{
  margin-left: 545px;
  margin-top: 10px;
  color: #ffffff;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* h1{
  margin-top: 60px;
  margin-left: 570px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

h3{
  margin-left: 510px;
  color: #ffffff;
  margin-top: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.or .h3{
  color: #5c5c5c;
  font-size: 20px;
  height: 20px;
  width: 20px;
  position: relative;
  float: left;
   margin-right: 100px;
   align-items: center;
   margin-left: 220px;
   align-items: center;
   margin-top: 10px;
}

.frgt_psswrd{
  color: #5c5c5c;
  margin-top: 80px;
  width: 120px;
  height: 20px;
  font-size: 16px;
  margin-left: 250px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.frgt_psswrd p:hover{
  text-decoration: underline;
}
 