.friend_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 10px 5px;
}

.friend_tile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.friend_tile:hover {
  background-color: #eeeeee;
}

.friend_tile  .f_profile_pic {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.friend_tile .f_profile_pic .pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.friend_tile .friend_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  margin: 2px 15px;
  width: 90%;
}

.friend_tile .friend_details .main_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.friend_tile .friend_details .main_heading h4 {
  font-size: 20px;
  font-weight: 550;
}

.friend_tile .friend_details .main_heading p {
  font-size: 14px;
  color: #343434;
}

.friend_tile .friend_details .sub_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.friend_tile .friend_details .sub_heading p {
  font-size: 16px;
  color: #343434;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.friend_tile .friend_details .sub_heading .unread_count {
  background-color: var(--third-color);
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  min-width: 15px;
  min-height: 20px;
}

.friend_tile .friend_details .sub_heading .options_icon {
  font-size: 20px;
  color: #343434;
  cursor: pointer;
  display: none;
}

.friend_tile:hover .friend_details .sub_heading .options_icon {
  display: block;
}

.friend_tile:hover .friend_details .sub_heading .unread_count {
  display: none;
}

/* style scroll bar */
.friend_list::-webkit-scrollbar {
  width: 5px;
}

/* style the thumb */
.friend_list::-webkit-scrollbar-thumb {
  background: #ededed;
  /* border-radius: 10px; */
}