.left_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  background: #ededed;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.left_header .Profile_pic {
  width: 50px;
  height: 50px;
  margin: 5px;
  overflow: hidden;
  border-radius: 50%;
}

.left_header .pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.left_header .nav_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.left_header .nav_icons .icon_area {
  cursor: pointer;
}

.left_header .icon_area .icon {
  color: #000;
  height: 30px;
  width: 30px;
  margin: 5px;
}