.chat_window {
  width: 100%;
  height: calc(96vh - 60px - 65px);
}

.chat_container {
  width: 100%;
  height: 100%;
  padding: 10px 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

/* style scroll bar */
.chat_container::-webkit-scrollbar {
  width: 5px;
}

/* style the thumb */
.chat_container::-webkit-scrollbar-thumb {
  background: var(--third-color);
  border-radius: 10px;
}