.menu_options_container {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-100%, 100%);
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    /* gap: 1px;
    padding: 1px; */
}

.menu_options_container.active {
    height: fit-content;
}

.menu_options_container .menu_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 500;
    background-color: #fff;
    width: 100%;
    height: 30px;
    cursor: pointer;
    margin-bottom: 1px;
}

.menu_options_container .menu_options:hover {
    background-color: #ededed;
}