.message_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: var(--second-color);
}

.add_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 5;
}

.add_icon .icon {
  font-size: 30px;
  color: #363636;
  transition: 0.25s;
}

.add_icon .icon.clicked {
  transform: rotate(-135deg);
}

.message_box .input {
  height: 40px;
  width: 90%;
  margin: 10px 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background: #fff;
}

.message_box input {
  width: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  background: none;
}

.message_box .emoji_icon {
  cursor: pointer;
  margin: 5px;
}

.message_box .emoji_icon .icon {
  color: #363636;
  font-size: 20px;
}

.message_box .mic_icon {
  cursor: pointer;
  margin: 5px;
}

.message_box .mic_icon .icon {
  color: #363636;
  font-size: 22px;
}

.message_box .send_icon {
  cursor: pointer;
  margin: 20px;
}

.message_box .send_icon .icon {
  color: #363636;
  font-size: 28px;
}