.right_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  background: #ededed;
  padding: 0 10px;
  border-left: 1px solid #ccc;
}

.main_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.right_header .f_profile_pic {
  width: 50px;
  height: 50px;
  margin: 5px;
  overflow: hidden;
  border-radius: 50%;
}

.right_header .pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.right_header .f_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.right_header .f_details h3 {
  font-size: 20px;
  font-weight: 600;
  /* color: #000; */
}

.right_header .f_details p {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}


.right_header .nav_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.right_header .nav_icons .icon_area {
  cursor: pointer;
}

.right_header .icon_area .icon {
  color: #000;
  height: 25px;
  width: 25px;
  margin: 5px;
}

.right_header .icon_area .icon.disabled {
  color: gray;
  height: 25px;
  width: 25px;
  margin: 5px;
}